body{
  color: black;
}

.flex-container-1{
  display: flex;
  flex-direction: column;
}

.flex-container-2 {
  display: flex;
  flex-direction: row;
}

.flex-container-3{
  display: flex;
  flex-flow: row nowrap;
}

.flex-container-4{
display: flex;
flex-flow: row nowrap;
justify-content: flex-start;
align-content: flex-start;
}

.flex-container-5{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 20px;
}

.Query-Keys-Container,
.Header-Key-Container{
  display: flex;
  flex-direction: column;
  width: 15%;
}

.Query-Value-Container,
.header-value-container{
  display: flex;
  flex-direction: column;
  width: 85%;
}

.long-box{
  margin: 10px;
  border: 1px solid green;
}

.body-box{
  width: 300px;
  height: 100px;
  border: 1px solid green;
}

.Information-From-Server{
  display: flex;
  flex-direction: row;
  }

.Request{
  background: mediumaquamarine;
}

.Response{
  background-color: forestgreen;
}

.request-container,
.response-container{
  display: flex;
  width: 50%;
  height: 500px;
  flex-direction: column;
  background-color: papayawhip;
  border: 1.5px solid black;
  overflow: scroll;
}

* {
  background: rgba(162, 183, 204, 0.2);
}

#req-button,
#resp-button{
  width: 130px;
  height: 50px;
}

#bigbox{
  display: flex;
  flex-flow: row nowrap;
}
